<form action="<%= user_messages_url(recipient) %>" method="post">
  <input type="hidden" name="authenticity_token"
    value="<%= form_authenticity_token %>">
  <label for="message_body">Message:</label><textarea name="message[body]"
    rows="5" cols="40" id="message_body"></textarea>
  <p><input type="submit" value="Send"></p>
</form>