<h1>Profile</h1>

<form action="<%= profile_url(current_user) %>" method="post">
  <input type="hidden" name="profile[user_id]" value="<%= current_user.id %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <p>
    <label for="profile_age">Age</label>
    <input type="number" name="profile[age]" value="" id="profile_age">
  </p>

  <p>
    <label for="profile_gender">Gender</label>
    <select name="profile[gender]" id="profile_gender">
      <option></option>
      <option value="M">M</option>
      <option value="F">F</option>
    </select>
  </p>

  <p>
    <label for="profile_orientation">Sexual Orientation</label>
    <select name="profile[orientation]" id="profile_orientation">
      <option></option>
      <option value="Straight">Straight</option>
      <option value="Gay">Gay</option>
      <option value="Bisexual">Bisexual</option>
      <option value="Other">Other</option>
    </select>
  </p>

  <p>
    <label for="profile_location">Location</label>
    <input type="text" name="profile[location]" value="" id="profile_location">
  </p>

  <p>
    <label for="profile_zip">ZIP</label>
    <input type="number" name="profile[zip]" value="" id="profile_zip">
  </p>

  <p>
    <label for="profile_summary">About me</label>
    <input type="textarea" name="profile[summary]" value="" id="profile_summary">
  </p>

  <p>
    <label for="profile_job">What I'm doing</label>
    <input type="textarea" name="profile[job]" value="" id="profile_job">
  </p>

  <p>
    <label for="profile_likes">Favorite books, movies, shows, music, and food</label>
    <input type="textarea" name="profile[likes]" value="" id="profile_likes">
  </p>

  <p>
    <label for="profile_min_age">I'm interested in people </label>
    <input type="number" name="profile[min_age]" value="18" id="profile_min_age">
    <label for="profile_max_age">to </label>
    <input type="number" name="profile[max_age]" value="99" id="profile_max_age"> years old,
    <label for="profile_max_distance">living up to </label>
    <input type="number" name="profile[max_distance]" value="25" id="profile_max_distance">
    miles away
  </p>

  <p><input type="submit" value="Ok!"></p>
</form>