<h1>Sign Up!</h1>

<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <p>
    <label for="user_name">Username: </label>
    <input type="text" name="user[name]" value="" id="user_name">
  </p>

  <p>
    <label for="user_password">Password</label>
    <input type="password" name="user[password]" value="" id="user_password">
  </p>

  <p>
    <label for "user_gender"></label>
    <select name="user[gender]" id="user_gender">
      <option value="F">I'm a girl</option>
      <option value="M">I'm a guy</option>
    </select>
  </p>

  <p>
    <label for "user_orientation"></label>
    <select name="user[orientation]" id="user_orientation">
      <option value="Straight">I'm straight</option>
      <option value="Gay">I'm gay</option>
      <option value="Bisexual">I'm bi</option>
    </select>
  </p>

  <p>
    <label for="user_age">I'm </label>
    <input type="number" name="user[age]" id="user_age"> years old
  </p>

  <p><input type="submit" value="Join"></p>
</form>