<form action="<%= users_url %>" method="post">
  <p>
    <label for="user_name">Username: </label>
    <input type="text" name="user[name]" value="" id="user_name">
  </p>

  <p>
    <label for="user_password">Password</label>
    <input type="password" name="user[password]" value="" id="user_password">
  </p>

  <p><input type="submit" value="Join"></p>
</form>