<%= link_to "About", "#", id: "show_profile_link" %><span>Questions</span>
<% if @user == current_user %>
  <%= render "responses/users_responses", responses: @responses, unanswered_question:
     @unanswered_question %>
<% else %>
  <%= render "responses/others_responses", responses: @responses, user: @user,
    current_user: current_user %>
<% end %>