<h1>Questions</h1>


<!-- DOES NOT REDIRECT -->
<% if unanswered_question %>
<%= render "responses/new", question: unanswered_question %>
<% end %>

<h2>Already answered</h2>
<% responses.each do |response| %>
  <p><strong><%= response.question.body %></strong></p>
  <p><%= response.answer.body %></p>
  <%= link_to "Re-answer", edit_response_url(response) %>
<% end %>