/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require mapbox
 */

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  font-family: sans-serif;
	vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;

}

/* --- Helper methods (clearfix) --- */

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Application (always displayed) */
html {
  background: #2337AD;
}

a:link {
  color: #0B1B75;
}

a:visited {
  color: #0B1B75;
}

a:hover {
  color: #00093D;
}

.match_percentage {
  color: #E83C8A;
}

.friend_percentage {
  color: #2B65E3;
}

.topnav {
  /* make this the size of the logo */
  float: right;
  height: 72px;
}

.topnav > ul > li {
  float: left;
  margin: 27px;
}

#logo {
  float: left;
}

.sidenav_wrap {
  margin-top: 90px;
}

.sidenav {
  width: 202px;
  float: left;
  height: 400px;
  background: #3F5AF2;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}

.sidenav ul li {
  border-bottom: 1px solid darkblue;
}

.sidenav ul li a {
  padding: 10px 15px;
  display: inline-block;
  font-weight: bold;
}

#recently_visited {
  margin: 7px;
  border: 0px;
}

#recently_visited p {
  padding: 3px 0px 3px 5px;
  font-weight: bold;
}

#recently_visited ul {
  padding: 0px 2px;

}

#recently_visited ul li {
  float: left;
  margin: 0;
  padding: 0px 3px 0px 3px;
  border: 0px;
}

#recently_visited ul li a {
  padding: 0;
}

#content {
  width: 960px;
  margin: auto;
  border-top: 0;
  margin-bottom: 50px;
}

.header-wrap {
  max-width: 960px;
  margin: auto;
}

header {
  background: #4D62D6;
  border-bottom: 1px solid darkblue;
}

.page {
  width: 758px;
  float: left;
  margin-top: -90px;
}

/* Buttons */

.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #24509c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #24509c;
  box-shadow:inset 0px 1px 0px 0px #24509c;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3e1ebd), color-stop(1, #6d59de) );
  background:-moz-linear-gradient( center top, #3e1ebd 5%, #6d59de 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e1ebd', endColorstr='#6d59de');
  background-color:#3e1ebd;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #0500a1;
  display: block;
  color:#000000;
  font-size:16px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #b9bed4;
  margin-top: -15px;
}

.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6d59de), color-stop(1, #3e1ebd) );
  background:-moz-linear-gradient( center top, #6d59de 5%, #3e1ebd 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d59de', endColorstr='#3e1ebd');
  background-color:#6d59de;
}

.button:active {
  position:relative;
  top:1px;
}
