// Place all the styles related to the Details controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#details_form {
  h1 {
		font-size: 36px;
		font-weight: bold;
		margin-top: -60px;
		margin-left: 15px;
		float: left;
  }

	form {
		background: #88A4F7;
		float: left;
		width: 415px;
		margin-top: 22px;
		padding: 15px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		textarea {
			margin-right: 3px;
		}
	}

  p {
    label {
      width: 180px;
      display: inline-block;
    }

    select {

    }
  }
}

#details {
  width: 180px;
  float: right;
  padding: 15px;
  background: #3F5AF2;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 60px;

  h4 {
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 5px;
    color: #0B1B75;
  }

  table {
    border: 2px solid black;
    font-size: 0.8em;

    tr {
      border: 2px solid #0B1B75;
    }

    td {
      padding: 5px;
      max-width: 115px;
    }

    td.detail_name {
      padding: 5px 10px 5px 5px;
    }
  }

  a {

  }


}