// Place all the styles related to the Details controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#details_form {
  width: 430px;
  float: left;
  padding: 15px;
  margin: 30px 125px;
  background: lightblue;
  border-radius: 5px;

  h1 {
    font-size: 24px;
    font-weight: bold;
  }

  p {
    label {
      width: 180px;
      display: inline-block;
    }

    select {

    }
  }
}

#details {
  width: 180px;
  float: right;
  padding: 15px;
  background: #3F5AF2;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 60px;

  h4 {
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 5px;
    color: #0B1B75;
  }

  table {
    border: 2px solid black;
    font-size: 0.8em;

    tr {
      border: 2px solid #0B1B75;
    }

    td {
      padding: 5px;
      max-width: 115px;
    }

    td.detail_name {
      padding: 5px 10px 5px 5px;
    }
  }

  a {

  }


}