#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}

footer {
  .footer_wrap {
    width: 960px;
    margin: auto;
  }
  height: 40px;
  background: #3F5AF2;
  border-top: 1px solid darkblue;

  li {

  }

  li:first-child {
    margin: 10px 0px;
    float: left;
  }

  li:last-child {
    margin: 4px 0px;
    float: right;
  };
}

#push {
  height: 40px;
}