// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Profile

#profile {
  h3, .looking_for {
    font-weight: bold;
    font-size: 1.1em;
    padding: 5px 0;
  }

  p {
    margin: 5px 0;
  }

  .essay {
    display: none;
  }

  .form {
    display: none;
  }

  .show_essay {
    .essay {
      display: block;
    }
  }

  .show_form {
    .form {
      display: block;
    }
  }


}