// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Show page

#profile_header {
  border-radius: 7px;

  img {
    float: left;
    margin: 15px 0px 15px 15px;
  }

  #profile_header_info {
    float: left;

    .matchbox {
      background: gray;
      width: 110px;
      height: 100%;
      margin: 15px;

      li {
        padding: 5px 8px;

      }
    }

    .name_and_attributes {
      margin: 15px;
      #address {
        max-width: 300px;
      }
    }

    #username {
      font-size: 1.5em;
    }
  }
}

.show_profile {
  #profile {
    display: block;
  }

  #questions {
    display: none;
  }
}

.show_questions {
  #profile {
    display: none;
  }

  #questions {
    display: block;
  }
}

#profile, #questions {
  width: 518px;
  float: left;
  padding: 15px;
  background: #88A4F7;
  border-radius: 5px;
  border-top-left-radius: 0px;
}

#message_link {

}

#details {
  width: 180px;
  float: right;
  padding: 15px;
  background: #3F5AF2;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 60px;

  h4 {
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 5px;
  }

  table {
    border: 2px solid gray;
    font-size: 0.8em;

    tr {
      border: 2px solid gray;
    }

    td {
      padding: 5px;
      max-width: 115px;
    }

    td.detail_name {
      padding: 5px 10px 5px 5px;
    }
  }
}