// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Show page

#profile_header {
  background: blue;
  border-radius: 7px;

  img {
    float: left;
    margin: 15px 0px 15px 15px;
  }

  #profile_header_info {
    float: left;

    .matchbox {
      background: gray;
      width: 110px;
      height: 100%;
      margin: 15px;
      border-radius: 7px;

      li {
        padding: 5px 8px;

      }
    }

    .name_and_attributes {
      margin: 15px;
    }

    #username {
      font-size: 1.5em;
    }
  }
}

#profile, #questions {
  width: 485px;
  float: left;
  padding: 15px;
  border-radius: 7px;
  background: #88A4F7;
}

#details {
  max-width: 220px;
  float: right;
  padding: 15px;
  background: lightgreen;
  border-radius: 7px;

  h4 {
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 5px;
  }

  table {
    border: 2px solid gray;
    font-size: 0.8em;

    tr {
      border: 2px solid gray;
    }

    td {
      padding: 5px;
      max-width: 115px;
    }

    td.detail_name {
      padding: 5px 10px 5px 5px;
    }
  }
}

// Matches (index) page

#matches {
  background: lightblue;
  border-radius: 7px;
  float: left;
  padding: 15px;
  width: 728px;

  h1 {
    font-size: 36px;
    font-weight: bold;
    color: #316BA8;
  }

  #matched_users {
    background: lightgreen;
    border-radius: 7px;

    .matched_user {
      margin: 15px 15px 0px 15px;
      background: #5AB9D6;
      border-radius: 7px;

      h2 {
        font-size: 1.3em;
        margin-bottom: 8px;
      }

      h3 {
        margin-bottom: 4px;
      }

      img {
        float: left;
        padding: 15px;
      }

      .matched_user_info {
        float: left;
        padding-top: 15px;
      }
    }
  }
}

// Questions tab (when that exists)
.answer_form {
  display: none;
}

.answer_comparison {
  display: none;
}

.answer_link {
  display: none;
}

.show_answer_link {
  .answer_link {
    display: block;
  }
}

.show_answer_form {
  .answer_form {
    display: block;
  }
}

.show_answer_comparison {
  .answer_comparison {
    display: block;
  }
}

// Profile

#profile {
  .essay {
    display: none;
  }

  .form {
    display: none;
  }

  .show_essay {
    .essay {
      display: block;
    }
  }

  .show_form {
    .form {
      display: block;
    }
  }
}