// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile_header {
  background: blue;

  img {
    float: left;
    margin: 15px 0px 15px 15px;
  }

  #profile_header_info {
    float: left;

    .matchbox {
      background: gray;
      width: 110px;
      height: 100%;
      margin: 15px;

      li {
        padding: 5px 8px;

      }
    }

    .name_and_attributes {
      margin: 15px;
    }

    #username {
      font-size: 1.5em;
    }
  }
}

