// Place all the styles related to the Visits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Matches and Visitors (index) pages

#matches, #visitors {

  border-radius: 7px;
  float: left;
  width: 758px;
  margin-top: -90px;

  h1 {
    font-size: 36px;
    font-weight: bold;
    color: #3F5AF2;
  }

  #users {
    background: lightgreen;
    border-radius: 7px;

    .user {
      margin: 15px 15px 0px 15px;
      background: #5AB9D6;
      border-radius: 7px;

      h2 {
        font-size: 1.3em;
        margin-bottom: 8px;
      }

      h3 {
        margin-bottom: 4px;
      }

      img {
        float: left;
        padding: 15px;
      }

      .user_info {
        float: left;
        padding-top: 15px;
      }
    }
  }
}