// Place all the styles related to the Visits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Matches and Visitors (index) pages

#matches, #visitors {

  float: left;
  width: 758px;
  margin-top: -90px;

  .matches_or_visits_header {
    h1 {
      font-size: 36px;
      font-weight: bold;
    }

    margin: 15px 0px 0px 15px;
  }

  #users {
    margin-top: 45px;

    .user {
      background: #88A4F7;
      border-bottom: 1px solid #3B52DB;

      h2 {
        font-size: 1.3em;
        margin-bottom: 8px;
      }

      h3 {
        margin-bottom: 4px;
      }

      img {
        float: left;
        padding: 15px;
      }

      .user_info {
        float: left;
        padding-top: 15px;
      }
    }

    .user:first-child {
      border-top-right-radius: 5px;
    }

    .user:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom: 0;
    }
  }
}